@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 41, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.json-key {
  color: #ff8000;
}

.json-string {
  color: #4caf50;
}

.json-number {
  color: #1e88e5;
}

.json-boolean {
  color: #e91e63;
}

.json-null {
  color: #9e9e9e;
}